[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/imgui_md"]
	path = vendor/imgui_md
	url = https://github.com/learn-more/imgui_md
[submodule "vendor/md4c"]
	path = vendor/md4c
	url = https://github.com/mity/md4c.git
